.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.left-side {
    flex: 1;
    padding-right: 30px;
}

.right-side {
    flex: 1;
    padding-left: 30px;
    text-align: center;
}

.intro-container h2 {
    color: #007bff;
    text-align: left;
}

.intro-container h3 {
    color: #333;
    margin-top: 20px;
    text-align: left;
}

.intro-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.intro-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.right-side img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intro-container .content-box {
    margin-top: 20px;
}

.content-box h3 {
    color: #007bff;
    margin-bottom: 10px;
}

.content-box p {
    font-size: 16px;
    color: #333;
}